
<div class="field">
  <%= f.label :标题 %>
   <%= f.text_field :name, :class => 'text_field' %>
    <span class="help-inline"><font color="red"><%=post_error(@post,"name")%></font></span>
</div>
 <div class="field">
    <%= f.label :关键词 %>
    <%= f.text_field :tag %>
     <span class="help-inline"><font color="red"><%=post_error(@post,"tag")%></font></span>
</div>
 <div class="field">
    <%= f.label :内容 %>
    <%= f.kindeditor :content, :width => 700, :height => 300 %>
</div>
<div class="form-actions">
  <button class="btn btn-success" type="submit">保存</button> or
	<%= link_to "取消", posts_path %>
</div>

